
{% extends "layout.html" %}

{% block content %}
<div class="container py-5">
  <h1 class="display-4">Shorten your URLs</h1>    
  <p>Tired of sending links that take 3 texts to send? Shorten them and send them!</p>
</div>

<div class="container-fluid py-5" style="background-color:black">
  <div class="container">
    <div class="row justify-content-center">
        <form>
          <div class="form-row align-items-center">
            <div class="col-auto my-1">
              <input class="form-control form-control-lg" type="url" placeholder="Enter a URL to shorten" size="80">
            </div>
            <div class="col-auto my-1">
              <button class="btn btn-primary btn-lg" type="submit">Shorten URL</button>
            </div>
          </div>
        </form>
    </div>
  </div>
</div>
{% endblock %}
